In [17]:
import pandas as pd

df=pd.read_csv("search.csv",sep=";",index_col=False)
df["RMSD"]=pd.to_numeric(df["RMSD"])
df["Nalgn"]=pd.to_numeric(df["Nalgn"])
df["Z-score"]=pd.to_numeric(df["Z-score"])
df["Q-score"]=pd.to_numeric(df["Q-score"])
df.sample(4)

,num,Q-score,P-score,Z-score,RMSD,Nalgn,Nsse,Ngaps,Seq-%,Nmd,Nres-Q,Nsse-Q,Nres-T,Nsse-T,code
2962,2963,0.3348,1.189,3.017,0.924,9,1,0,0.0,0,13,1,17,1,6q6r:H
4143,4144,0.3843,2.409,4.381,1.193,9,1,0,0.0,0,13,1,14,1,7svu:d
2820,2821,0.2668,1.208,3.043,0.876,8,1,0,0.0,0,13,1,17,1,6cov:A
1755,1756,0.3379,1.992,3.960,0.605,8,1,0,0.0,0,13,1,14,1,7svu:h

In [26]:
mask=(
    (df["RMSD"]<=0.5)&
    (df["Nalgn"]>=11)&
     (df["Z-score"]>=4.9)&
    (df["Q-score"]>=0.8)
)
candidates=df.loc[mask,["num","RMSD","Nalgn","Z-score","code","Q-score","P-score"]]
candidates

     num   RMSD  Nalgn  Z-score    code  Q-score  P-score
0      1  0.000     13    5.713  1ycr:B   1.0000    3.970
80    81  0.250     11    5.016  3dab:D   0.8403    3.108
114  115  0.267     11    5.016  2z5s:P   0.8395    3.108
899  900  0.458     11    4.908  4hfz:B   0.8269    2.983
929  930  0.464     12    4.908  7nel:C   0.9015    2.983

In [27]:
import os
import requests
from Bio import PDB
from tqdm.auto import tqdm

os.makedirs('pdb_files', exist_ok=True)
os.makedirs('fragments', exist_ok=True)

In [48]:
candidates["pdb"] = candidates["code"].str.split(":", expand=True)[0]

os.makedirs("pdb_files", exist_ok=True)
for pdb in tqdm(candidates["pdb"].unique(),desc="PDB download"):
    local_path = f"pdb_files/{pdb}.pdb"
    if not os.path.exists(local_path):
        url = f"https://files.rcsb.org/download/{pdb}.pdb"
        resp = requests.get(url)
        resp.raise_for_status()
        with open(local_path, "wb") as out:
            out.write(resp.content)
        print(f"✅ Scaricato {pdb}.pdb")
    else:
        print(f"– Già presente: {pdb}.pdb")

PDB download:   0%|          | 0/5 [00:00<?, ?it/s]

– Già presente: 1ycr.pdb
– Già presente: 3dab.pdb
– Già presente: 2z5s.pdb
– Già presente: 4hfz.pdb
– Già presente: 7nel.pdb

In [49]:
from Bio import PDB
parser = PDB.PDBParser()
io = PDB.PDBIO()